*{
    margin: 0px;
    padding: 0px;
}
.bg{
    background-image: url(Images/Background\ 1.png);
    background-size: 100% 100%;
    
    
}
.container{
    background-color:#4a1831 ;
    height:65px;
    width:100%;
    
    
}
.nav ul{
    text-align: center;
}
.nav ul li{
    display: inline-block; 
    line-height: 25px;
    font-size: 16px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    
}


.nav ul li a{
    font-size: 30px;
    color: #dbb194;
    text-decoration: none;
}

.logo{
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 50px;
    
}

.logo h1{
    color: #ffd7ad;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 100px;
    margin-bottom: 30px;

}
.logo p{
    color: #ffd7ad;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    margin-bottom: 50px;
    margin-right:800px;
}

.order-btn{
    width: 250px;
    background-color: #ffd7ad;
    box-sizing: border-box;
    cursor: pointer;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    padding: 15px;
    border: 2px solid #fed7aa;
    border-radius: 30px;
    color: #4a1831;
    font-weight: bolder;
    text-align: center;
    

}
